@font-face {
    font-family: 'Platform Alternate';
    src: url('../fonts/naturalis/platform-regular-alternate-webfont.eot');
    src: url('../fonts/naturalis/platform-regular-alternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturalis/platform-regular-alternate-webfont.woff') format('woff'),
         url('../fonts/naturalis/platform-regular-alternate-webfont.ttf?5') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Platform Alternate';
    src: url('../fonts/naturalis/pltform-light-alternate-2-webfont.eot');
    src: url('../fonts/naturalis/pltform-light-alternate-2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/naturalis/pltform-light-alternate-2-webfont.woff') format('woff'),
         url('../fonts/naturalis/pltform-light-alternate-2-webfont.ttf?5') format('truetype');
    font-weight: normal;
    font-style: normal;
}
